Host birne
	HostName 192.168.2.101
#	User     pi
	User	ubuntu

Host pixy
	Hostname 192.168.2.42
	User     johannes

Host avocado
	Hostname 192.168.2.142
	User     zeichenreihe

Host kallisto
	Hostname 10.0.1.1
	User     root
	KexAlgorithms +diffie-hellman-group1-sha1
	HostKeyAlgorithms +ssh-rsa
	Ciphers +aes128-cbc
